<!DOCTYPE html>
<html>
<head>
    <title>Lens - Add</title>
</head>
<body>
<h1>Add New Lens</h1>
<form action ="/Lens/insert" method="get">

    Lens Manufacturer: <input name="Lens_Manufacturer" type="text" /><br />
    Focal Length: <input name="Focal_length" type="text" /><br />
    Maximum Aperture: <input name="Max_Aperture_Value" type="text" /><br />
    Zoom Type: <input name="Zoom_Type" type="text" /><br />
    Lens Mount: <input name="Lens_Mount" type="text" /><br />
    Lens Format Type: <input name="Lens_Format_Type" type="text" /><br />
    Filter Thread Size: <input name="Filter_Thread_Size" type="text" /><br />
    <br />
    <br />
    Filters
    <br />
    <% for(var i=0; filters.length > i; i++){ %>
        <input type="checkbox" name="Filter_Id" value="<%=
        filters[i].Filter_Id %>"> <%=filtesr[i].Filter_Manufacturer + ', '
    + filters[i].Filter_Size + ', ' + filters[i].Filter_Type%>
    <br/>
    <%}%>
    <br/>
    <input type="submit" />
</form>
</body>
</html>