<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1></h1>
  <p>Welcome to <%=title%>%></p>
  <br/><a href="/Camera_Body/all">Camera Body View All</a><br/>
  <br/><a href="/Lens/all">Lens View All</a><br/>
  <br/><a href="/Filter/all">Filter View All</a><br/>
  <br/><a href="/Photographer/all">Photographer View All</a><br/>
  <br/><a href="/SubQueries/sq1">A query using a correlated subquery</a><br/>
  <br/><a href="/SubQueries/sq2">A query using a subquery in a JOIN</a><br/>
  <br/><a href="/SubQueries/sq3">A query using a subquery with IN or NOT IN</a><br/>
  <br/><a href="/SubQueries/sq4">A query using a subquery with EXISTS or NOT EXISTS</a><br/>
  <br/><a href="/SubQueries/sq5">A query that compares a value in the outer query to a value returned by the inner query</a><br/>
  <br/><a href="/SubQueries/sq6">A query using GROUP BY</a><br/>
  <br/><a href="/SubQueries/sq7">A query utilizing a JOIN, GROUP BY, HAVING and an derived function (avg, min, max, etc.)</a><br/>
  <br/><a href="/SubQueries/sq8">A query using ORDER BY</a><br/>
  <br/><a href="/SubQueries/sq9">A query using a UNION</a><br/>
  <br/><a href="/SubQueries/sq10">A query using a DISTINCT</a><br/>
  </body>
</html>
