<!DOCTYPE html>
<html>
<head>
    <title>A query that compares a value in the outer query to a value returned by the inner query</title>
</head>
<body>
<h1>select l.Lens_Manufacturer, l.Focal_length, l.Max_Aperture_Value from Lens l where
    l.Filter_Thread_Size=(Select f.Filter_Size from Filters f where f.Filter_Id=1); </h1>

<table border="1">
    <tr>
        <th>Lens Manufacturer</th>
        <th>Focal Length</th>
        <th>Max_Aperture_Value</th>
    </tr>
    <%for(var i=0; i< stuff.length; i++ ) { %>
    <tr>
        <td><%= stuff[i].Lens_Manufacturer%></td>
        <td><%= stuff[i].Focal_length%></td>
        <td><%= stuff[i].Max_Aperture_Value%></td>
    </tr>
    <%}%>
</table>
</body>
</html>