<!DOCTYPE html>
<html>
<head>
    <title>Camera Bodies - Add</title>
</head>
<body>
<h1>Add New Camera_Body</h1>
<form action ="/Camera_Body/insert" method="get">

    Camera Body Manufacturer: <input name="Camera_Manufacturer" type="text" /><br />
    Camera Body Name: <input name="Name" type="text" /><br />
    Camera Body Still Image Resolution: <input name="Still_Image_Resolution" type="text" /><br />
    Camera Body Sensor Type: <input name="Sensor_Type" type="text" /><br />
    Camera Body Lens Mount: <input name="Lens_Mount" type="text" /><br />
    Camera Body Auto Focus Points: <input name="Auto_Focus_Points" type="text" /><br />
    <br />
    <input type="submit" />
</form>
</body>
</html>