<!DOCTYPE html>
<html>
<head>
    <title>Photographer - Add</title>
</head>
<body>
<h1>Add New Photographer</h1>
<form action ="/Photographer/insert" method="get">

    First Name: <input name="FName" type="text" /><br />
    Last Name: <input name="LName" type="text" /><br />
    Email: <input name="Email" type="text" /><br />
    Specialty: <input name="Specialty" type="text" /><br />

    <br />
    <input type="submit" />
</form>
</body>
</html>