<!DOCTYPE html>
<html>
<head>
    <title>Filter - Edit</title>
</head>
<body>
<h1>Edit Filter</h1>
<form action ="/Filter/update" method="get">

    <input
            type="hidden"
            id="Filter_Id"
            name="Filter_Id"
            value="<%= Filters.Filter_Id %>"
    /><br />
    Filter Manufacturer: <input
            id="Filter_Manufacturer"
            name="Filter_Manufacturer"
            type="text"
            value="<%= Filters.Filter_Manufacturer %>"/><br />

    Filter Size: <input
            id="Filter_Size"
            name="Filter_Size"
            type="text"
            value="<%= Filters.Filter_Size%>"/><br />

    Filter Type: <input
            id="Filter_Type"
            name="Filter_Type"
            type="text"
            value="<%= Filters.Filter_Type%>"/><br />

    <br/>
    <input type="submit" />
</form>
</body>
</html>