<!DOCTYPE html>
<html>
<head>
    <title>Filter - Add</title>
</head>
<body>
<h1>Add New Filter</h1>
<form action ="/Filters/insert" method="get">

    Filter Manufacturer: <input name="Filter_Manufacturer" type="text" /><br />
    Filter Size: <input name="Filter_Size" type="text" /><br />
    Filter Type: <input name="Filter_Type" type="text" /><br />
    <br />

    <input type="submit" />
</form>
</body>
</html>